body{
    font-family: 'Lato', sans-serif;
    background-color: #f1f1f1;
}

.title__container{
    text-align: center;
}
.title__h1{
    font-size: 150px;
    text-align: center;
}

.content__container{
    width: 800px;
    font-size: 18px;
    background: #ffffff;
    margin: 0 auto;
    margin-bottom: 60px;
    -webkit-box-shadow: 2px 2px 5px 0px #e5e5e5;
    -moz-box-shadow: 2px 2px 5px 0px #e5e5e5;
    box-shadow: 2px 2px 5px 0px #e5e5e5;
}

.content__date__container{
    text-align: center;
}

.content__header{
    font-size: 45px;
    text-align: center;
}

.content__data{
    font-size: 18px;
}

.content__anchor{
    text-decoration: none;
    color: black;
}

.content__anchor:hover{
    text-decoration: underline;
    color: black;
}

.navbar__container{
    margin: 0 auto;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}clouds = {WeatherData$Clouds@1893}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar__anchor{
    text-decoration: none;
    color: black;
}

.navbar__anchor:hover {
    text-decoration: underline;
    color: black;
    background: white;
}

.navbar__anchor__list-item:hover{
    background: white;
}

.post-image{
  width: 100%;
  height: 100%;
}

.post-image-container-square {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.post-image-container-tall{
  width: 310px;
  height: 390px;
  margin: 0 auto;
}

.post-image-container-wide {
    height: 300px;
    width: 500px;
    margin: 0 auto;
}

.social-network-buttons__container{
}

.social-network-buttons{
    margin: 0 auto;
    margin-bottom: 30px;
    width: 200px;
}

.references__container{
    font-style: italic;
    font-size: 0.7em;
    margin-top: 30px;
    text-align: center;
}