<!DOCTYPE html>
<html lang="en">
{{> generic/header}}
<body>

<div class="container">

    {{> generic/navigation-bar}}

    <div class="row content__container">
        <h2 class="content__header">About</h2>
        <div class="col-sm-12">
            <p>
                Hello people of the interweb!
            </p>

            <p>
                If you can't tell from the sod off giant banner above, my name is Harry Winser. I'm a 24 year old software developer currently living in London.
                Harrywinser.com is mostly to share random posts about games, movies, or whatever. If you're more interested in my tech stuff, take a look at
                <a href="http://tech.harrywinser.com">tech.harrywinser.com</a> for more of that stuff.
            </p>
            <p>
                Anyway, I hope you enjoy. Drop me a message via <a href="https://twitter.com/Hazz223">twitter</a> if you'd like to collaborate, or chat, or whatever!
            </p>

            <p>
                Cheers, </br>
                Harry
            </p>
            <div class="post-image-container-square">
                <img src="https://avatars0.githubusercontent.com/u/5550493?v=3&s=400" class="post-image" title="I'm this guy" alt="Picture tells a 1000 words. Far more than i can fit in an Alt">
            </div>

            <p class="references__container">
                Quick note: I used <a href="http://fontawesome.io/">font awesome</a>, <a href="http://lipis.github.io/bootstrap-social/">social buttons</a>,
                and <a href="http://getbootstrap.com/">bootstrap</a> to make this site. Thanks to everyone behind all that stuff. You all rock!
            </p>
        </div>
    </div>
    {{> generic/footer}}
</div>

<script src="/lib/jquery/jquery-1.12.3.min.js"></script>
<!--Bootstrap-->
<script src="/lib/bootstrap-3.3.6-dist/js/bootstrap.js"></script>


</body>
</html>