<!DOCTYPE html>
<html lang="en">
{{> generic/header}}
<body>

<div class="container">
    {{> generic/navigation-bar}}

</div>

<div class="container">

    <div class="row content__container">
        <h2 class="content__header"> <a href="/article/{{cleanTitle}}" class="content__anchor">{{title}}</a></h2>
        <div class="col-sm-12">
            {{{data}}}
        </div>
        <div class="content__date__container">Posted on {{date}}</div>
    </div>

    {{> generic/footer}}

</div>

</body>
</html>