<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Harrywinser.com</title>

    <!--Boostrap-->
    <link rel="stylesheet" href="/lib/bootstrap-3.3.6-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">

</head>
<body>

<div class="container">
    <div class="row" class="title__container">
        <div class="col-sm-12"><h1 class="title__h1">Harry Winser</h1></divB
    </div>
    <div class="row navbar__container">

        <nav class="navbar">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar">Home</span>
                        <span class="icon-bar">Blog</span>
                        <span class="icon-bar">Reviews</span>
                        <span class="icon-bar">Programming</span>
                        <span class="icon-bar">About</span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="navbar__anchor__list-item"><a href="/" class="navbar__anchor">Home</a></li>
                        <li class="navbar__anchor__list-item"><a href="#" class="navbar__anchor">Blog</a></li>
                        <li class="navbar__anchor__list-item"><a href="#" class="navbar__anchor">Reviews</a></li>
                        <li class="navbar__anchor__list-item"><a href="#" class="navbar__anchor">Programming</a></li>
                        <li class="navbar__anchor__list-item"><a href="#" class="navbar__anchor">About</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    </div>

    <div class="row content__container">
        <h2 class="content__header">Review: Batman Vs Superman</h2>
        <div class="col-sm-12">
            <p>
                And here we are; the DC version of the Avengers. First sentence. Shots fired.
            </p>
            <p>
                I probably should get one thing out the way first; this review is FULL of spoilers. If you've not seen the
                film, but want to know if you should go and see it, then here's my spoiler free paragraph. Ain't i nice.
            </p>
            <p>
                <i>
                    âThe more you think about the film, the less sense it makes. There is little to no character
                    progression, and at the end you don't feel anything for any of the characters. Probably don't bother
                    with the cinema trip, unless you're a superhero fan and you're jonesing for a fixâ
                </i>
            </p>
            <p>

                Yeah. I'm not a fan. Anyway, if you don't want any more spoilers, don't read on! For the rest of you; lets
                crack on with the show!
            </p>

            <h2>
                <small>Story</small>
            </h2>

            <p>


                The story arc is this; Superman broke a city. Batman is not happy as that's a lot of power not kept in
                check. Which is kinda fair enough. Superman isn't happy because Batman is doing rather hard core vigilante
                justice (like murder and shit. Remember all those Batman comics where he murders everyone? Yeah. I don't).
            </p>
            <p>

                So, both kinda valid reasons, though I'm personally siding with Batman on this one.
            </p>
            <p>

                There's a third wheel to this superhero bromance; Lex Luthor. Lex has decided that he can play Superman and
                Batman against each other forâ¦ Erâ¦ reasons. Yep, âreasons'. And so he gets the fighting and whatnot.
            </p>
            <p>

                Ignoring the whole Lex thing for a second (I'll come back to him), the reasons behind them fighting is
                actually rather sound. And generally felt a little deeper than the standard super villain affair. As a
                viewer, there was no clear âgoodâ side. However, this all fell over for 3 pretty irritating
                reasons. </p>
            <p>


                Reason 1: Superman was force to fight Batman because Lex had his mum. Yep, that's literally the reason. As a
                result, when Batman and Superman clashed, you weren't seeing those two ideals clash, but instead a fight
                which could have been solved with a small amount of prior communication. So, like a text message, or an
                email. Or something.
            </p>
            <p>


                Reason 2: The fight is really short between Superman and Batman. Its about 7 minutes, rather slow, though
                quite entertaining. It ends once Batman finds out Superman has been blackmailed, and they suddenly become
                best chums and it's all sorted. Yep. There's little to no dialog. Just sort of âBAM! FRIENDS NOW'. Though
                the reason they become friends is literally that Batmans mum and Supermans Mum have the same name. Dat
                writing yo.
            </p>
            <p>


                Reason 3: This whole story arc ends about 2/3's into the film. Yep, it ends. And it's replaced with a
                Generic CGI Monster number 3. Oh boy. It went from deep, meaningful philosophical debate to giant monster
                punch up. Because, we've not seen that before, right? RIGHT?!

            </p>
            <p>
                So, the main story line(s) aren't great. What about the characters?
            </p>
            <p>

                Ben Affleck as Batman totally nailed it. Batman is in his mid 40's. He's older, tired of fighting, and
                generally more jaded. He's seen thing man. And Affleck nails this. I had some serious worries he would suck,
                but he totally steals the show.
                However, there is no character development. He doesn't change. He doesn't change his view or his outlook.
                It's all the same.
            </p>
            <p>


                Superman also doesn't change. He never understands Batman's point of view. Henry Cavill does a passable job,
                and i can't think of any outstanding moments.
            </p>
            <p>


                Lex Luthor, played by Jesse Eisenberg, is just flat out insane. There's no underlying reason. He's crazy,
                and wants to see the world burn. It's a little odd, but at least he was entertaining to watch compared to
                the angry Batman and the angry Superman. An injection of personality. But the fact his whole
                character/motivations were so flawed from the get go, it's all a bit of a let down. However, Jesse Eisenberg
                does a great job, and i throughly enjoyed watching him on screen.
            </p>
            <p>
                Gal Gadot does an decent job as Wonder Woman. However, there wasn't much for her to do at all in this film.
                I was confused about her role. She just sort of shows up, does her thing, and we as an audience has no idea
                who she is, what she can do, or really anything about her. A set up film would have been greatly
                appreciated. It was great seeing her kick ass against the giant CGI monster. But she was sort of relegated
                to the background through all of this.
                However, she does have some AWESOME intro music. Check it out here:

            </p>
            <p>
            </p>
            <div class="post-image-container-tall">
                <iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A2Heydd3VKFNumiZUc5TLKT" width="300"
                        height="380" frameborder="0" allowtransparency="true"></iframe>
            </div>
            <p></p>
            <p>
                Quick side note on Wonder Woman. Before posting this review, a friend of mine pointed out that Superman has
                NO dialog with Wonder Woman. NONE. Literally nothing. Instead of asking who Wonder Woman in, Superman turns
                to Batman and asks âIs she with you?â. That's it. That's all the acknowledgement she gets.
            </p>
            <p>

                All the other characters do great jobs, but once again they are all just sort of 'there'. There's no growth
                in this film. All the actors do a great job, but the script and the story just isn't there to support them.
            </p>

            <h2>
                <small>Directing / Special Effects</small>
            </h2>


            <p></p>
            <p>
                I don't usually do this heading, but this all deserves a special mention.
                First are the special effects. Throughout, they were pretty solid. However the CGI monster was just that;
                CGI. It was so obvious, and kinda boring, that as a result i didn't care about it, and also slightly
                jarring. It had nothing note worthy design wise, and just didn't look at all that great. It had nothing
                going for it. It was justâ¦ weird.
            </p>
            <p>
                Now, onto the directing. Usually, I don't notice directing, but when i do it's usually for awesome reasons.
                However, this time it was because it was just a little bit shit.
                To start with, each scene felt super fast. One thing would happen, and that would be it. Little character
                reaction, then we'd them be whisked away to something else. Very frustrating, and gave me a sense of
                disconnect from the story. However, this did improve as the scenes got longer towards the end. So yay.
            </p>
            <h2>
                <small>Wrap Up</small>
            </h2>
            <p></p>
            <p>
                If you couldn't work it out from above; I didn't like this film. A storyline that gave up being intelligent
                to instead become a Monster mash. With no growth of any of the characters, and no real set up for the next
                films (just one, sodding email) it all sort of resulted in Batman Vs Superman being just a bit of a waste of
                time. Maybe worth watching when it's released on DVD or Netflix, but nothing more.

            </p>
        </div>
    </div>
</div>



</div>



<script src="/lib/jquery/jquery-1.12.3.min.js"></script>
<!--Bootstrap-->
<script src="/lib/bootstrap-3.3.6-dist/js/bootstrap.js"></script>

</body>
</html>