
    <div class="row" class="title__container">
        <div class="col-sm-12"><h1 class="title__h1">Harry Winser</h1></div>
    </div>

    <div class="row navbar__container">
        <nav class="navbar">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"><a href="/" class="navbar__anchor">Home</a></span>
                        <span class="icon-bar"><a href="/blog" class="navbar__anchor">Blog</a></span>
                        <span class="icon-bar"><a href="/review" class="navbar__anchor">Reviews</a><</span>
                        <span class="icon-bar"><a href="http://tech.harrywinser.com" class="navbar__anchor">Programming</a></span>
                        <span class="icon-bar"><a href="/about" class="navbar__anchor">About</a></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="navbar__anchor__list-item"><a href="/" class="navbar__anchor">Home</a></li>
                        <li class="navbar__anchor__list-item"><a href="/blog" class="navbar__anchor">Blog</a></li>
                        <li class="navbar__anchor__list-item"><a href="/review" class="navbar__anchor">Reviews</a></li>
                        <li class="navbar__anchor__list-item"><a href="http://tech.harrywinser.com" class="navbar__anchor">Programming</a></li>
                        <li class="navbar__anchor__list-item"><a href="/about" class="navbar__anchor">About</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
